/* Collection 1 */
:root {
    /* Mode 1 */
    /* color */
    --blanc: #ffffff;
    --bleu-foncé: #1d0d67;
    --color: #faf2ef;
    --gris: #cecac7;
    --gris-foncé: #999592;
    --noir: #000000;
    --orange: #f28643;
    --orange-foncé: #983a00;
    /* string */
    --body: Lora;
    --call-to-action: Raleway;
    --heading: Playfair;
}