/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 5;
    background-color: black;
    opacity:50%;
}

.header__logo-img {
    width: 50px;
}
/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: white;
}

.hero__content {
    z-index: 2;
}

.hero__title {
    font-size: 3rem;
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero__subtitle {
    font-size: 1.2rem;
    margin: 10px 20px;
    line-height: 1.6;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* Background Image */
.hero__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.hero__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}