.festival {
    text-align: center;
    padding: 20px;
    background-color: #FAF4EF;
}

.festival__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0;
}

.festival__image {
    width: 100%;
    height: auto;
}

.festival__description {
    font-size: 1rem;
    margin: 15px auto;
    max-width: 600px;
    color: #000;
}

.festival__link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FFD700;
}

.festival__link:hover {
    background-color: #FFC107;
}