.festival {
    text-align: center;
    padding: 20px;
    background-color: #FAF4EF;
}

.festival__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0;
}

.festival__image {
    width: 100%;
    height: auto;
}

.festival__description {
    font-size: 1rem;
    margin: 15px auto;
    max-width: 600px;
    color: #000;
}