.social-network {
    
    text-align: center;
    padding: 20px;
}

.social-network h2 {
    
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.social-network img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    vertical-align: middle;
}

.social-network img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}